<!-- modal deletar -->
<div class="modal fade" id="modal-delete" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="d-flex">
                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="fs-5 fw-semibold text-center pt-4 pb-3">
                    Tem certeza de que deseja deletar este registro?
                </div>
            </div>
            <form action="" method="post" id="form-delete">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-light border  px-3" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-danger  px-3">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</div>